// Home Content

  .wrapper {
    width: 70%;
    margin-top: 10%;
    height: 300px;
    max-height: 100%;


    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .intro, .already {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: @container;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 3% 0;

    h2 {
      width: 100%;
      text-align: center;
    }
    form {
      width: 80%;
      text-align: center;
      margin: 4% 0;

      .form-item, .form-item>input {
        line-height: 1.4;
        font-size: 1.6rem;
        padding: 5px;
      }



      .name {
        display: flex;
        justify-content: space-between;
      }
      .type{
        display: flex;
        justify-content: space-around;
      }      

      .checkbox-container {
        width: 48%;
      }


    }

.btn {
  line-height: 1.4;
  font-size: 1.8rem;
  padding: 8px;
  font-weight: 600;
  background: @cta-button;
  border-radius: 10px;
  width: 100%;
}

#email, #username, #signup {
  width: 100%;
}

#signup {
  margin-top: 5%;
}

#first-name, #last-name {
  width: 47%;
}
  }

.already {
  // background: @container;
  .already-item {
    width: 44%;
  }
}
